<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>Label</key>
	<string>link.inode.pyweb</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/zach/Library/Python/3.7/bin/pyweb</string>
<!-- 	
		<string>--port</string>
		<string>8080</string>
		<string>--www-root</string>
		<string>/Users/zach/.pyweb/var/www</string>
		<string>--log-path</string>
		<string>/Users/zach/.pyweb/var/log</string>
-->
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/zach/.pyweb/var/log/stderr</string>
	<key>StandardOutPath</key>
	<string>/Users/zach/.pyweb/var/log/stdout</string>
</dict>
</plist>
